<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= repo %> stats</title>
  <style>
      body { font-family: Arial, sans-serif; margin: 2em; background-color: #f9f9f9; color: #333; }
      h1 { font-size: 1.5em; font-family: monospace; }
      section { margin-bottom: 1em; }
      ul { list-style: none; padding: 0; }
      li { margin: 0.5em 0; }
      .label { font-weight: bold; }
      footer { margin-top: 2em; font-size: 0.9em; color: #777; }
  </style>
</head>
<body>
  <header>
    <h1><%= repo %></h1>
  </header>
  <section>
    <p>
      <span class="label">Last Activity:</span>
      <%= lastActivityName %> on <%= lastActivityBranchName %><br/>
      at <%= statsGeneratedAt %>
    </p>
  </section>
  <section>
    <p>
      <span class="label">Branches (<%= branches.count %> of average age <%= branches.averageBranchAge %> minutes):</span><br/>
      <%= branches.details && branches.details.join(', ') || 'None' %>
    </p>
  </section>
  <section>
    <p>
      <span class="label">Branch Issues:</span><br/>
      <%= branches.branchIssueDetails && branches.branchIssueDetails.join(', ') || 'None' %>
    </p>
  </section>
  <section>
    <p>
      <span class="label">Open PRs (<%= openPRs %> of average age <%= averagePRAge %> minutes):</span><br/>
      <%= prDetails && prDetails.join(', ') || 'None' %>
    </p>
  </section>
  <section>
    <p>
      <span class="label">Next Issue:</span><br/>
      <%= nextIssue %>
    </p>
  </section>
  <section>
    <p><span class="label">Open Issues:</span> <%= openIssues %></p>
    <p><span class="label">Issues closed in last hour:</span> <%= issuesClosedLastHour %></p>
    <p><span class="label">Issues closed in last 24 hours:</span> <%= issuesClosedLastDay %></p>
  </section>
  <section>
    <p><span class="label">Engine:</span> <%= engine %></p>
  </section>
  <section>
    <p><span class="label">Minutes since push anywhere:</span> <%= diffMinutes %></p>
    <p><span class="label">Minutes since push to main:</span> <%= diffMinutesMain %></p>
  </section>
  <section>
    <p><span class="label">Commits to main last hour:</span> <%= commitsLastHour %></p>
    <p><span class="label">Commits to main last day:</span> <%= commitsLastDay %></p>
  </section>
  <section>
    <p><span class="label">Last 5 commit messages from main:</span></p>
    <ul>
      <% lastFiveCommitMessages.forEach(commitMessage => { %>
      <li><%= commitMessage %></li>
      <% }); %>
    </ul>
  </section>
  <footer>
    <p>Template Rendered <%= new Date().toISOString() %></p>
  </footer>
</body>
</html>
